@import url('https://fonts.googleapis.com/css?family=Oswald|Righteous');
a {
  text-decoration: none;
  color: #000000;
}
html {
  font-size: 10px;
}
body {
  background: #f7f7f7 url("img/pineapple.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Roboto";
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  content: '';
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background: #c0392b;
  /* IE Fallback */

  background: rgba(34, 52, 94, 0.5);
  width: 100%;
  height: 100%;
}
#header-main {
  font-size: 10rem;
  font-family: 'Oswald';
  text-shadow: 4px 4px 0 #12364e;
  color: #ffffff;
  padding: 0;
  margin: 40px 0;
  text-align: center;
}
nav {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 820px;
  margin-left: -410px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  /* Sub Menu */

}
nav ul li a {
  display: block;
  background: #21618c;
  padding: 10px 15px;
  color: #ffb223;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
nav ul li a:hover {
  background: #2b7eb5;
}
nav ul li a .fa {
  width: 16px;
  text-align: center;
  margin-right: 5px;
}
nav ul li a .badge {
  display: inline-block;
  background: #fff;
  /* IE Fallback */

  background: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
}
nav ul li ul li a {
  background: #0e0b16;
  border-left: 4px solid transparent;
  padding: 10px 20px;
}
nav ul li ul li a:hover {
  background: #241c38;
  border-left: 4px solid #21618c;
}
/* Float Right/Left */
.right {
  float: right;
}
.left {
  float: left;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
