// COLORS
@void: #0e0b16;
@sky-blue: #cceeff;
@powder: #66b9bf;
@teal: #08879b;
@navy: #000080;

@temp_color1: @sky-blue;
@temp_color2: @teal;

@padding-default: 10px;
@border-solid: solid 1px #000000;